html {
    /* border: 10px solid #ff441f;
    height: calc(100% - 20px); */
	background: linear-gradient(to right, #c9b81c 0%, #ff3300 33%, #cc0099 66%, #47c1c9 100%);
	height: 100%;
	width: 100%;
}

body {
	font-family: arial,sans-serif;
	padding: 2px;
	background-color: white;
	height: calc(100% - 20px);
}

th, td {
	border: 2px solid #d77a5d;
	border-collapse: collapse;
	text-align: center;
}